<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SwiftTerms Bot</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</head>
<body>
<h1>SwifTerms</h1>
{% block content %}
{% with warnings = get_flashed_messages() %}
{% if warnings %}
{% for warning in warnings %}
{{warning}}
{% endfor %}
{% endif %}
{% endwith %}


<h3>List of Past Question</h3>
{% for message in messages %}
<p>Question: {{message['question']}}</p>
<p>Answer: {{message['answer']}}</p>
{% endfor %}

<h3>New Question</h3>
<form method="post">
    <label for="question"> Question </label>
    <br>
    <input type="text" name="question" placeholder="What do you want to say">
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
</body>
</html>